<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473460879898-qju6ioi6jmlvv59q18ej3tjgkbr18m4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473460879898-qju6ioi6jmlvv59q18ej3tjgkbr18m4q</string>
	<key>API_KEY</key>
	<string>AIzaSyClXhw0iiHJMTPteyZ8ud9EredugOeUJuo</string>
	<key>GCM_SENDER_ID</key>
	<string>473460879898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diary.rn.app</string>
	<key>PROJECT_ID</key>
	<string>rn-diary-lecture</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-diary-lecture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473460879898:ios:48b53b90e5f95933ca17a3</string>
</dict>
</plist>